{% extends 'app/base.html' %}
{% load static %}
{% block title %}C.P Seeds{% endblock title %}
{% block main-content %}

<div class="col-sm-6 offset-sm-3">
    <h2>C.P SEEDS Provides best varieties of Corn Seeds</h2> 
    <hr>
<div class="container my-5">
    <div class="row">
     <div class="col-sm-6 text-center align-self-center">
      <img src="{% static 'app/images/cp seeds/cp2.png' %}" alt="" class="img-fluid img-thumbnail">
     </div>
     <div class="col-sm-5 offset-sm-1 ">
      <h2>Product Title: CP 988</h2> 
      <hr>
      <p>Product Description: 1] Broad Adaptability 2] Stable Yield Hybrid 3] Early Maturity 4] Superior Drought Tolerance 5] Excellent Ear Uniformity 6] Excellent Tip Filling, Good Grain Quality, and Ear Appearance</p>
     </div>
 

<div class="container my-5">
            <div class="row">
             <div class="col-sm-6 text-center align-self-center">
              <img src="{% static 'app/images/cp seeds/cp1.png' %}" alt="" class="img-fluid img-thumbnail">
             </div>
             <div class="col-sm-5 offset-sm-1">
              <h2>Product Title: CP 666</h2> 
              <hr>
              <p>Product Description: 1] High-Yield Potentials 2] Outstanding dry land adaptability 3] Great stalks and roots support increased planting populations to maximize yield 4] Consistent performance on well-drained and variables soils </p>
             </div> 
             
             
             
<div class="container my-5">
                <div class="row">
                 <div class="col-md-6 text-center align-self-center">
                  <img src="{% static 'app/images/cp seeds/cp6.png' %}" alt="" class="img-fluid img-thumbnail">
                 </div>
                 <div class="col-sm-5 offset-sm-1">
                  <h2>Product Title: CP 899</h2> 
                  <hr>
                  <p>Product Description: 1] Broadly Adapted Hybrid with Consistent Potential Across Yield Environments 2] Outstanding dry land adaptability 3] Consistent performance over well-drained and variable soils 4] Great stalks and yield support </p>
                 </div> 
                 
            
<div class="container my-5">
                    <div class="row">
                     <div class="col-sm-6 text-center align-self-center">
                      <img src="{% static 'app/images/cp seeds/cp5.png' %}" alt="" class="img-fluid img-thumbnail">
                     </div>
                     <div class="col-sm-5 offset-sm-1">
                      <h2>Product Title: CP 828</h2> 
                      <hr>
                      <p>Product Description: 1] Powerful Performance in High Productive Environment 2] Early Maturity 3] Broad Adaptability 4] Superb Attractive Ear Size and color 5] Strong Adaptation for Andhra Pradesh and Telengana </p>
                     </div>    
                     
                     
                     
                     
<div class="container my-5">
                        <div class="row">
                         <div class="col-sm-6 text-center align-self-center">
                          <img src="{% static 'app/images/cp seeds/cp4.png' %}" alt="" class="img-fluid img-thumbnail">
                         </div>
                         <div class="col-sm-5 offset-sm-1">
                          <h2>Product Title: CP 509</h2> 
                          <hr>
                          <p>Product Description:  1] Excellent Yield Potentials 2] Fatty Ear With Excellent Choice for Higher-Managed Acres 3] Excellent Tip Filling 4] Suitable for 2 Seasons(Kharif and Rabi) 5] Tolerance to Fall Army Worm </p>
                         </div>                         
                     
                     





                           



    
      

       
      </ul>
     </div>
    </div>
   </div>


      
{% endblock main-content %}