{% extends 'app/base.html' %}
{% load static %}
{% block title %}C.P Seeds{% endblock title %}
{% block main-content %}

<div class="col-sm-5 offset-sm-4">
    <h2>Eagle Seeds provides best variety of Wheat, Soyabean and Pulses seeds</h2> 
    <hr>


<div class="container my-5">
    <div class="row">
     <div class="col-sm-6 text-center align-self-center">
      <img src="{% static 'app/images/Eagle seeds/eg1.png' %}" alt="" class="img-fluid img-thumbnail">
     </div>
     <div class="col-sm-5 offset-sm-1 ">
      <h2>Product Title: Eagle Seeds GW 322</h2> 
      <hr>
      <p>Product Description:  1] Broad and waxy leaf 2] Semi hard and lustrous grain 3] Good for chapatti making 4] 1000 grain weight 38-40 gms</p>
     </div>
 

<div class="container my-5">
            <div class="row">
             <div class="col-sm-6 text-center align-self-center">
              <img src="{% static 'app/images/Eagle seeds/eg2.png' %}" alt="" class="img-fluid img-thumbnail">
             </div>
             <div class="col-sm-5 offset-sm-1">
              <h2>Product Title: Eagle Seeds Lok-1</h2> 
              <hr>
              <p>Product Description:  1] Leaf dark green 2] Flag leaf drooping type 3] Glumes smooth 4] 1000 grain weight 46-48 gms </p>


             </div> 
             
             
             
<div class="container my-5">
                <div class="row">
                 <div class="col-sm-6 text-center align-self-center">
                  <img src="{% static 'app/images/Eagle seeds/eg3.png' %}" alt="" class="img-fluid img-thumbnail">
                 </div>
                 <div class="col-sm-5 offset-sm-1">
                  <h2>Product Title: Eagle Seeds E-145 </h2> 
                  <hr>
                  <p>Product Description:  1] Suitable for timely sowing plant 2] Plant height (95-100 cms) 3] Grain bold, hard lustorous </p>
                 </div> 
                 
            
<div class="container my-5">
                    <div class="row">
                     <div class="col-sm-6 text-center align-self-center">
                      <img src="{% static 'app/images/Eagle seeds/eg4.png' %}" alt="" class="img-fluid img-thumbnail">
                     </div>
                     <div class="col-sm-5 offset-sm-1">
                      <h2>Product Title:  E-135 Sushika Wheat Seed</h2> 
                      <hr>
                      <p>Product Description:  1] Maturity- 120-125 Days 2] Ex.Yeild- 55-60 qtls/ha 3] Suitable for timely sowing 4] Semi dwarf(95-100cms) 5] 1000 grain weight 45-46 gms </p>



                     </div>    
                     
                     
                     
                     
<div class="container my-5">
                        <div class="row">
                         <div class="col-sm-6 text-center align-self-center">
                          <img src="{% static 'app/images/Eagle seeds/eg5.png' %}" alt="" class="img-fluid img-thumbnail">
                         </div>
                         <div class="col-sm-5 offset-sm-1">
                          <h2>Product Title: Eagle Soyabean seed E-81</h2> 
                          <hr>
                          <p>Product Description:  1] Leaflet ovate 2] Pointed semi determinate habit 3] Maturity in 90 to 95 days 4] Suitable for 2 Seasons(Kharif and Rabi) 5] Tolerance to Fall Army Worm
                         </div>                         
                     
                     





                           



    
      

       
      </ul>
     </div>
    </div>
   </div>


      
{% endblock main-content %}