{% extends 'app/base.html' %}
{% load static %}
{% block title %}Maharashtra{% endblock title %}
{% block main-content %}

<div class="col-sm-8 offset-sm-2">
    <h2>മഹാരാഷ്ട്രയ്ക്ക് ഏറ്റവും ഉപയോഗപ്രദമായ വിത്തുകൾ</h2>
    <hr class="col-sm-12 ">

    </div>   
    <div class="container my-5">
    <div class="row"> 
    <h2>Hraswa (Cul 24-20)</h2>     
    <small>
        <img src="{% static 'app/images/kerala/k1.png' %}" alt="" class="img-fluid img-thumbnail" height="186" width="249">
    </small>
    </div>

    <div class="col-sm-6 offset-sm-4 align-self-center">
        <div class="row"> 
          
            എക്സ്ട്രാ-ഹ്രസ്വ-ദൈർഘ്യമുള്ള വൈവിധ്യം. വിളനഷ്ടം ഉണ്ടാകുന്ന പ്രദേശങ്ങൾക്ക് ഒരു കണ്ടിൻജന്റ് വെറൈറ്റി എന്ന നിലയിൽ അനുയോജ്യമാണ്. ഇല ഫോൾഡറിന് സാധ്യത. നേരിട്ട് വിതയ്ക്കുന്ന വിളയായി മാത്രം വളർത്തുന്നു.

        </p>  

       </div>

    </div>   
    <div class="container my-5">
    <div class="row"> 
    <h2>Kattamodan-Tall (PTB 28)</h2> 
    <small>
        <img src="{% static 'app/images/kerala/k2.jpg' %}" alt="" class="img-fluid img-thumbnail" height="186" width="249">
    </small>
    </div>

    <div class="col-sm-6 offset-sm-4 align-self-center">
        <div class="row"> 
          
            നേരിട്ടുള്ള വിത്തിറക്കത്തിന് അനുയോജ്യമാണ്. സ്ഫോടനം, ഷീത്ത് ബ്ലൈറ്റ്, ബ്രൗൺ പ്ലാന്റ് ഹോപ്പർ എന്നിവയ്ക്ക് സാധ്യതയുണ്ട്. I, III വിള സീസണുകൾക്ക് അനുയോജ്യമാണ്.


        </p>  

       </div>


    </div>   
    <div class="container my-5">
    <div class="row"> 
    <h2>Jyothy (PTB 39)</h2>     
    <small>
        <img src="{% static 'app/images/kerala/k3.jpg' %}" alt="" class="img-fluid img-thumbnail" height="186" width="249">
    </small>
    </div>

    <div class="col-sm-6 offset-sm-4 align-self-center">
        <div class="row"> 
          
            ബ്രൗൺ പ്ലാന്റ് ഹോപ്പറിനോടും സ്ഫോടനത്തോടും മിതമായി സഹിഷ്ണുത പുലർത്തുന്നു; ഷീത്ത് ബ്ലൈറ്റ് ബാധിക്കാൻ സാധ്യത; നേരിട്ടുള്ള വിത്ത് വിതയ്ക്കൽ, പറിച്ചുനടൽ, കോലെ, കുട്ടനാട് എന്നിവയുടെ പ്രത്യേക സംവിധാനങ്ങൾ എന്നിവയ്ക്ക് അനുയോജ്യമാണ്.

        </p>  

       </div>



    </div>   
    <div class="container my-5">
    <div class="row"> 
    <h2>Makom (MO 9)</h2>     
    <small>
        <img src="{% static 'app/images/kerala/m3.webp' %}" alt="" class="img-fluid img-thumbnail" height="186" width="249">
    </small>
    </div>

    <div class="col-sm-6 offset-sm-4 align-self-center">
        <div class="row"> 
          
            ബ്രൗൺ പ്ലാന്റ് ഹോപ്പർ, സ്റ്റെം ബോറർ, പിത്താശയ മിഡ്ജ്, ലീഫ് ഫോൾഡർ, ഷീത്ത് ബ്ലൈറ്റ്, ഷീത്ത് റോട്ട് തുടങ്ങിയ രോഗങ്ങൾ എന്നിവ പോലുള്ള കീടങ്ങളോട് മിതമായി പ്രതിരോധിക്കുന്നു. ഒരു മാസം വരെ നിര് ജ്ജീവത. പ്രത്യേകിച്ചും നനഞ്ഞ സീസണിന് അനുയോജ്യമാണ്. മൂന്ന് ഋതുക്കളിലും കൃഷി ചെയ്യാം.
        </p>  

       </div>  






{% endblock main-content %}   
