{% extends 'app/base.html' %}
{% load static %}
{% block title %}Maharashtra{% endblock title %}
{% block main-content %}

<div class="col-md-8 offset-md-4" style="padding:10px; box-sizing:border-box; display: flex;text-decoration: dashed solid black;">
    <h1>महाराष्ट्रासाठी सर्वोत्तम उपयुक्त बियाणे</h1>
    
    </div>   
    
    
    <div class="container my-5 w-20 rounded"   >
    <div class="row mx-2 card-body"> 
    <class class="h2"><style>
        .h2 {
            padding: auto;
            margin-bottom: 2vh;
        }
    </style></class> 
    <h2>Phule Pragati (JL-24)</h2>     
    <small>
        <img src="{% static 'app/images/maharashtra/m1.png' %}" alt="" class="img-fluid img-thumbnail">
    </small>
    </div>
    <div class="col-sm-6 offset-md-4 card-body d-block" >
        <div class="row"> 
          
            हे 85-87 दिवसात परिपक्व होते. बिया मध्यम आकाराच्या (४५ प्रति १००० बिया) व गुलाबाच्या रंगाच्या असतात. त्याची उत्पादन क्षमता हेक्टरी १८-२३ क्विंटल आहे. यात ७२ टक्के शेलिंग आउट टर्न आणि ५०.७ टक्के तेल आहे. महाराष्ट्रात ते वाढण्यासाठी योग्य आहे. ही एक बंच प्रकारची जात आहे.


        </p>  

       </div>

    </div>   
    <div class="container my-5">
    <div class="row"> 
    <h2>TG-17</h2> 
    <small>
        <img src="{% static 'app/images/maharashtra/m2.jpg' %}" alt="" class="img-fluid img-thumbnail">
    </small>
    </div>

    <div class="col-lg-6 offset-sm-4 ">
        <div class="row"> 
          
            उन्हाळ्याच्या हंगामात महाराष्ट्र राज्यात लागवडीसाठी शिफारस केलेली ही एक बंच प्रकारची जात आहे. बिया हलक्या गुलाबी रंगाच्या असून त्यात ४९ टक्के तेल असते. गोळीबाराची टक्केवारी ६९ आहे. प्रतिहेक्टरी २०-२२ क्विंटल उत्पादन क्षमता आहे.


        </p>  

       </div>


    </div>   
    <div class="container my-5">
    <div class="row"> 
    <h2>Karad 4-11</h2>     
    <small>
        <img src="{% static 'app/images/maharashtra/m3.jpg' %}" alt="" class="img-fluid img-thumbnail" height="186" width="249">
    </small>
    </div>

    <div class="col-sm-6 offset-sm-4 align-self-center">
        <div class="row"> 
          
            हा एक पसरणारा प्रकार आहे. पीक १४५ दिवसांत पिकते. पर्जन्यछायेच्या क्षेत्रासाठी याची शिफारस केली जाते. खरीपात तसेच रब्बी हंगामात पिकणे योग्य आहे. यात तेलाचे प्रमाण ५८ टक्के आहे. त्याची उत्पादन क्षमता हेक्टरी २०-२५ क्विंटल आहे.

        </p>  

       </div>



    </div>   
    <div class="container my-5">
    <div class="row"> 
    <h2>Kopargaon-1</h2>     
    <small>
        <img src="{% static 'app/images/maharashtra/m4.png' %}" alt="" class="img-fluid img-thumbnail" height="186" width="249">
    </small>
    </div>

    <div class="col-sm-6 offset-sm-4 align-self-center">
        <div class="row"> 
          
            ही अर्धप्रसारित जात आहे. पीक १२ दिवसांत पक्व होते. खरीपात तसेच रब्बी हंगामात पिकण्यासाठी ते योग्य आहे. त्यात ४८ टक्के तेलघटक्के मिळून हेक्टरी सुमारे १५-२० क्विंटल उत्पादन क्षमता आहे.

        </p>  

       </div>   


    </div>   
    <div class="container my-5">
    <div class="row"> 
    <h2>Vikram(TG-1)</h2>     
    <small>
        <img src="{% static 'app/images/maharashtra/m5.png' %}" alt="" class="img-fluid img-thumbnail" height="186" width="249">
    </small>
    </div>

    <div class="col-sm-6 offset-sm-4 align-self-center">
        <div class="row"> 
          
            महाराष्ट्रात लागवडीसाठी शिफारस केलेली ही अर्धप्रसारित वाण आहे. शेलिंगची टक्केवारी 68 आहे. बियांत ४६.५ टक्के तेल असते. प्रति हेक्टरी 20 ते 25 क्विंटल उत्पादन क्षमता आहे.

        </p>  

       </div>      






{% endblock main-content %}   

    
    